<launch>
  <include file="$(find dashgo_driver)/launch/demo.launch"/>
  <include file="$(find flashgo)/launch/flash_lidar.launch"/>
  <include file="$(find dashgo_description)/launch/dashgo_description.launch"/>
  <arg name="map_file" default="$(find dashgo_nav)/maps/eai_map.yaml"/>
  <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" />
  <arg name="initial_pose_x" default="0.0"/> 
  <arg name="initial_pose_y" default="0.0"/> 
  <arg name="initial_pose_a" default="0.0"/>
  <include file="$(find dashgo_nav)/launch/include/odom/amcl.launch.xml">
    <arg name="initial_pose_x" value="$(arg initial_pose_x)"/>
    <arg name="initial_pose_y" value="$(arg initial_pose_y)"/>
    <arg name="initial_pose_a" value="$(arg initial_pose_a)"/>
  </include>
  <include file="$(find dashgo_nav)/launch/include/odom/teb_move_base.launch"/>
  <node name="multi_mark" pkg="dashgo_tools" type="multi_goals_loop.pyc" output="screen" />
</launch>
